[Desktop Entry]
Encoding=UTF-8
Name=Link to Java Guava | Floats.compare() method with Examples
Type=Link
URL=https://www.geeksforgeeks.org/java-guava-floats-compare-method-with-examples/
Icon=text-html
